@import '../../shared/styles/_base.scss';

body {
  background: var(--gray-20);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  letter-spacing: 0.04em;
}

.f-template-outer {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
